body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header {
    background-color: red;
    grid-column: 1/3;
}

main {
    background-color: blue;
    height: 200px;
}

aside {
    background-color: green;
}

footer {
    background-color: aquamarine;
    height: 50px;
    grid-column: 1/3;
}